.search-container {
  background-color: #fcf4eb;
  padding: 4rem 0 1.5rem;
  text-align: center;
}

.search__title {
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  margin-right: 1rem;
}

.search-box {
  border: solid 2px #1b1b1b;
  border-radius: 4px;

  width: 30%;
  padding: 0.4rem 1rem;
}

@media (max-width: 920px) {
  .search__title {
    display: block;
    margin-right: 0;
    margin-bottom: 1.2rem;
  }

  .search-box {
    width: 76%;
  }
}
