footer {
  background-color: #FFC32A;
  padding: 7rem 1rem;
}

.footer-wrapper {
  max-width: 1440px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-box {
  width: 30%;
  padding: .8rem 1rem;
}
/* 
.footer-box:nth-child(1) {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(27px);
  border-radius: 10px;
} */


.footer-logo {
  width: 160px;
  margin-bottom: .4rem;
}

.footer-box__description {
  font-weight: 500;
}

.footer-box__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.4rem;
}

.footer-box:nth-child(2) > .footer-list {
  display: inline-flex;
  flex-flow: row wrap;
}

.footer-item {
  margin-bottom: 0.4rem;
  font-size: 15px;
  font-weight: 500;
}

.footer-box:nth-child(2) > .footer-list li {
  width: 50%;
}

@media (max-width: 980px) {
  .footer-wrapper {
    gap: 3rem;
    flex-flow: column-reverse;
  }

  .footer-box {
    width: 100%;
  }
}
